@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using iBDZ.Data.ViewModels;
@model TrainInfoModel

@{
    ViewData["Title"] = "Train information";
}

<style>
    #page-title {
        text-align: center;
    }

    .tableRow:hover {
        background-color: #bababa;
        cursor: pointer;
    }

    .tableRow:active {
        background-color: #989898;
        cursor: pointer;
    }

    #train-id {
        font-weight: bold;
        font-size: larger;
    }

    table {
        table-layout: fixed;
    }

    td {
        text-align: center;
    }

    thead {
        background-color: #272727;
        color: #ffffff;
        border-bottom: solid;
        border-bottom-width: thick;
        border-bottom-color: gray;
    }

    .td-data {
        font-weight: bold;
        font-size: larger;
    }

    #car-table-title {
        text-align: center;
    }
</style>

<h1 id="page-title">Info about train: <br /><span id="train-id">@Model.Id</span></h1>

<table class="table">
    <tr>
        <td colspan="3">
            <span class="td-title">Route: </span>
            @if (Model.RouteInfo.RouteId == "")
            {
                <span class="td-data">@Model.RouteInfo.ToString()</span>
            }
            else
            {
                <a href="/Train/Timetable?ss=@Model.RouteInfo.StartStation&es=@Model.RouteInfo.EndStation">
                    <span class="td-data">@Model.RouteInfo.ToString()</span>
                </a>
            }
        </td>
        <td colspan="3">
            <span class="td-title">Train type:</span> <span class="td-data">@Model.Type.ToString()</span>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <span class="td-title">Departs at:</span><br />
            <span class="td-data">@Model.TimeOfDeparture.ToShortTimeString()</span>
        </td>

        <td colspan="2">
            <span class="td-title">Arrives at:</span><br />
            <span class="td-data">@Model.TimeOfArrival.ToShortTimeString()</span>
        </td>

        <td colspan="2">
            <span class="td-title">Travel time:</span><br />
            <span class="td-data">@((Model.TimeOfArrival - Model.TimeOfDeparture).ToString(@"hh\:mm"))</span>
        </td>
    </tr>
</table>


<h2 id="car-table-title">Car info:</h2>

<table class="table">
    <thead>
        <tr style="border-top: none">
            <td colspan="8">Type</td>
            <td colspan="8">Class</td>
            <td colspan="8">Free seats</td>
        </tr>
    </thead>
    @foreach (var c in Model.TrainCars)
    {
        <tr class="tableRow">
            <td colspan="8">@c.Type.ToString()</td>
            <td colspan="8">@c.Class.ToString()</td>
            <td colspan="8">@c.FreeSeats / @c.MaxSeats</td>
        </tr>
    }
</table>


@if (User.IsInRole("Administrator"))
{
    <script>
        function newTrain() {
            window.location.href = '/Train/New';
        }

        function editTrain(id) {
            window.location.href = '/Train/Edit?id=' + id;
        }

        function deleteTrain(id) {
            if (!confirm('Are you sure you want to delete this train?'))
                return;

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/Train/Delete?id=" + id, true);

            xhr.onloadstart = function () {
                let buttons = document.getElementsByClassName("disable-on-delete");
                for (let b of buttons) {
                    b.setAttribute("disabled", "");
                }
                document.getElementById("delete-button").innerHTML = "Deleting..."
            }

            xhr.onloadend = function () {
                window.location.href = xhr.responseURL;
            }

            xhr.send();
        }
    </script>

    <div class="text-center">
        <button type="button" class="disable-on-delete" id="new-button" onclick="newTrain()">New</button>
        <button type="button" class="disable-on-delete" id="edit-button" onclick="editTrain('@Model.Id')">Edit</button>
        <button type="button" class="disable-on-delete" id="delete-button" onclick="deleteTrain('@Model.Id')">Delete</button>
    </div>
}
