@{ ViewData["Title"] = "Reserve"; }

<h2 class="text-center">Reserve seats</h2>

@using System.Linq
@using iBDZ.Data.ViewModels
@model ReservationInfoModel

<form id="purchase-form">
    <div class="text-center">
        <hr />

        <h2>Train: @Model.TrainId</h2>
        <h3>Car ID: <b>@Model.CarId</b></h3>
        <h4>Type: <b>@Model.Type.ToString()</b></h4>
        @if (Model.Type == iBDZ.Data.TrainCarType.Compartments)
        {
            <h4>Class: <b>@Model.Class.ToString()</b></h4>
        }

        <hr />

        <h3>Coupe: <b>@Model.Coupe</b></h3>
        <label for="num-seats">Number of @(Model.Type == iBDZ.Data.TrainCarType.Compartments ? "seats" : "beds"):</label>
        <input name="num-seats" type="number" min="1" max="@Model.FreeSeats.Count" value="1" />

        <hr />

        <h3>Price of purchase: <b id="final-price">@String.Format("{0:F2}", Model.BasePrice)</b> <b>lv.</b></h3>

        <hr />

        <button id="purchase-submit" type="submit">Purchase seats</button>
    </div>

</form>

@if (Model.TrainId == "")
{
    <script>
        var form = document.getElementById("purchase-form")
        form.onsubmit = function (event) {
            event.preventDefault();
        }

        let submitButton = document.getElementById("purchase-submit")
        submitButton.setAttribute("disabled", "");
        submitButton.innerHTML = "Can't purchase. Incorrect data"
    </script>
}
else
{
    <script>
    var numSeats = document.getElementsByName("num-seats")[0]
    numSeats.onchange = function() {
        let basePrice = @String.Format("{0:F2}", Model.BasePrice);
        var price = document.getElementById("final-price");

        price.innerText = "" + (basePrice * numSeats.value).toFixed(2)
    }

    var form = document.getElementById("purchase-form")
    form.onsubmit = function (event) {
        event.preventDefault();

        var freeSeats = [
            @Html.Raw(String.Join(',', Model.FreeSeats.Select(x => "'" + x.Id + "'").ToList()))
        ]

        let data = {
            carId: '@Model.CarId',
            seats: freeSeats.slice(0, parseInt(numSeats.value)),
        };

        postDataAsJSON(
            '/Seat/Reserve',
            data,
            function () {
            let submitButton = document.getElementById("purchase-submit")
                submitButton.setAttribute("disabled", "");
            submitButton.innerHTML = "Finalizing purchase..."
            })
    }
    </script>
}